#!/usr/bin/env xdg-open
[Desktop Entry]
Name={{product_name}}
Comment={{comment}}
Exec={{exec}}
Icon={{icon}}
Terminal=false
Type=Application
Categories=Development;Chat;Network;
StartupWMClass=qwen-studio
MimeType=x-scheme-handler/qwen;
